<% if user_signed_in? %>
  <li class="dropdown">
     <%= link_to(raw("#{current_user.name} <b class='caret'></b>"), edit_user_registration_path, :class => "dropdown-toggle", "data-toggle" => "dropdown", "data-target" => "#") %>
    <ul class="dropdown-men">
      <li><%= link_to "Dashboard", "/home/dashboard"  %></li>
      <li><%= link_to "Edit Account", edit_user_registration_path  %></li>
    </ul>
  </li>

  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">My Locations  <b class="caret"></b> </a>
    <ul class="dropdown-men">
      <li><%= link_to "New Location", new_address_path  %></li>
      <li><%= link_to "All Locations", "/#{current_user.name}"  %></li>
    </ul>
  </li>
     
     
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>