<%= form_for(@faxis) do |f| %>
  <% if @faxis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faxis.errors.count, "error") %> prohibited this faxis from being saved:</h2>

      <ul>
      <% @faxis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br />
    <%= f.number_field :address_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
