<td><%= street_address %></td>
<td><%= street_address_two %></td>
<td><%= city %></td>
<td><%= state %></td>
<td><%= country %></td>
<td><%= zipcode %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>