<h1>Edit address</h1>

<form id="edit-address" name="address">
  <div class="field">
    <label for="street_address"> street_address:</label>
    <input type="text" name="street_address" id="street_address" value="<%= street_address %>" >
  </div>

  <div class="field">
    <label for="street_address_two"> street_address_two:</label>
    <input type="text" name="street_address_two" id="street_address_two" value="<%= street_address_two %>" >
  </div>

  <div class="field">
    <label for="city"> city:</label>
    <input type="text" name="city" id="city" value="<%= city %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="field">
    <label for="country"> country:</label>
    <input type="text" name="country" id="country" value="<%= country %>" >
  </div>

  <div class="field">
    <label for="zipcode"> zipcode:</label>
    <input type="text" name="zipcode" id="zipcode" value="<%= zipcode %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Address" />
  </div>

</form>

<a href="#/index">Back</a>
