<p>
  <b>Street address:</b>
  <%= street_address %>
</p>

<p>
  <b>Street address two:</b>
  <%= street_address_two %>
</p>

<p>
  <b>City:</b>
  <%= city %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Country:</b>
  <%= country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= zipcode %>
</p>


<a href="#/index">Back</a>