<div class="form pull-left">
  <%= form_for @address, :html => { :class => 'form-horizontal float-up' } do |f| %>

    <% unless @address.errors.blank? %>
    <div class="alert alert-error">
      <% @address.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </div>
    <% end %>
  
    <div class="control-group">
      <%= f.label "Heading", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :label, :class => 'text_field', :placeholder => "Headquarter, Sales off. etc" %>
      </div>
    </div>
    
     <div class="control-group">
         <%= f.label :country, :class => 'control-label' %>
         <div class="controls">
           <%= f.country_select :country, priority: %w(US IN), prompt: 'Please select a country' %>
         </div>
       </div>

       <div class="control-group">
         <%= f.label :state, :class => 'control-label' %>
         <div class="controls">
           <%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
         </div>
       </div>

      <div class="control-group">
        <%= f.label :city, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :city, :class => 'text_field' %>
        </div>
      </div>
  
    <div class="control-group">
      <%= f.label :street_address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :street_address, :class => 'text_field' %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label "street_address_two", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :street_address_two, :class => 'text_field' %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :zipcode, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zipcode, :class => 'text_field' %>
      </div>
    </div>
    
    <%= f.hidden_field :latitude, :class => 'hidden_field' %>
    
    <%= f.hidden_field :longitude, :class => 'hidden_field' %>
    
  
    <div class="control-group">
      <%= f.label "Phone Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :phones do |phone| %>
        <div class="input-prepend">
          <span class="add-on">+</span>
          <%= phone.text_field :number, :class => 'span10', :placeholder => "Phone number" %>
        </div>
        <% end %>
        <span><%= link_to_add_association '+', f, :phones, :class => "btn btn-info" %></span>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label "Fax Number", :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :faxs do |fax| %>
        <div class="input-prepend">
          <span class="add-on">+</span>
          <%= fax.text_field :number, :class => 'span10', :placeholder => "Fax number"%>
        </div>
        <% end %>
        <span><%= link_to_add_association '+', f, :faxs, :class => "btn btn-info" %></span>
      </div>
    </div>
  
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.fields_for :emails do |email| %>
            <%= email.text_field :email, :class => 'text_field span8', :placeholder => "Email Address"%>
          <% end %>
          <span>&nbsp;&nbsp;<%= link_to_add_association '+', f, :emails, :class => "btn btn-info" %></span>
        </div>
      </div>
  

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', :disable_with => "Saving..." %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  addresses_path, :class => 'btn' %>
    </div>
  <% end %>
</div>

<div id="map_canvas" style="width:45%; height:400px; margin: 10px; background-color: #fff;" class="well pull-left">
</div>

<div class="clearfix"></div>

<script type="text/javascript">
  var geocoder;
  var map;
</script>

<script>
  function initialize() {
    geocoder = new google.maps.Geocoder();
    
    var myLatlng = new google.maps.LatLng(<%= @address.default_coordinates[0] %>, <%= @address.default_coordinates[1] %>) ;
    var mapOptions = {
      center: myLatlng,
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    };
    
    map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);        
 }
 
 function codeAddress(address, zoom) {
   var address = address;
   geocoder.geocode( { 'address': address}, function(results, status) {
     if (status == google.maps.GeocoderStatus.OK) {
       map.setZoom(zoom);
       map.setCenter(results[0].geometry.location);
       var marker = new google.maps.Marker({
         map: map,
         position: results[0].geometry.location
       });
     } else {
       alert("Address not found for the following reason: " + status);
     }
   });
 }
 
  function loadScript() {
   var script = document.createElement("script");
   script.type = "text/javascript";
   script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAiWC6EU28mQk9du90WHXUQTSTaE48FlFw&libraries=places&sensor=false&callback=initialize";
   document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>

<script>
  $("#address_city").live('change', function(){
    var state = $("#address_state").val();
    var country = $("#address_country").val();
    var city = $(this).val();
    var address = city + ", " + state + ", " + country
    console.log(address);
    codeAddress(address, 13);
  });
</script>