<%- model_class = Address -%>
<div class="page-header">
  <h1><%= "#{@user.company_name} " %><small><%= link_to "(#{@user.company_url})", @user.company_url, :target => "_blank" %></small></h1>
</div>
<h4>Address Locations</h4>
<br>

<% if user_signed_in? %>
  <% if @addresses.empty? and can? :create, current_user.addresses.new %>
    <p>You have no locations added to your profile. Please <%= link_to "Add new location", new_address_path, class: "btn-warning btn-large"%></p>
  <% end %>
<% elsif @addresses.empty? %>
  <p><%= "#{@user.company_name}" %> have not added locations yet to their account</p>
<% end %>

<% if !@addresses.empty? %>
  <% @addresses.each_with_index do |address, index| %>
  <div class="address well well-large span4" style="cursor:pointer;">
    <span style="float:right;">
    
      <% if can? :update, address %>
        <%= link_to (image_tag("/assets/edit_tool.png", :width => "15", :height => "20")),
        edit_address_path(address), :class => "btn btn-mini"%>
      <% end %>
    
      <% if can? :destroy, address %>
        <%= link_to 'x',
        address_path(address),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-mini btn-danger delete_address' %>
      <% end %>
    </span>
    <div class="address" onclick="window.location.href = '<%= "/#{@user.name}/address/#{index+1}"%>'; return false;">
      <strong><p><%= address.label unless address.label.blank? %></p></strong>
      <span><%= address.street_address %></span>
      <span><%= address.street_address_two %></span><br>
      <span><%= address.city %></span>
      <span><%= address.state %></span><br>
      <span><%= address.country %></span>
      <span><%= address.zipcode %></span><br>
      <br>
      <% unless address.phones.empty? %>
        <strong>Phone Numbers</strong>
        <% address.phones.each do |phone| %>
          <p><span>+</span> <%= phone.number %></p>
        <% end %>
      <% end %>
      
      <% unless address.faxs.empty? %>
        <strong>Fax:</strong>
        <% address.faxs.each do |fax| %>
          <p><span>+</span> <%= fax.number %></p>
        <% end %>
      <% end %>
      
      <% unless address.emails.empty? %>
        <strong>Emails:</strong>
        <% address.emails.each do |email| %>
          <p><%= link_to email.email, "mailto:#{email.email}" %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>


<br>
<br>
<div style="clear:both;"></div>

<% unless @user.contact_form.blank?  %>
   <%= render 'addresses/contact_form' %>
 <% end %>
